#include <windows.h>

#define IDD_CONFIG 101
#define IDC_NETPLAY_ENABLED 1001
#define IDC_LOCAL_PORT 1004
#define IDC_ROMS_DIR 1005
#define IDC_NETPLAY_LOCKSTEP 1012

#define IDC_ROLE_HOST 1013
#define IDC_ROLE_JOIN 1014
#define IDC_REMOTE_IP 1015
#define IDC_REMOTE_PORT 1016
#define IDC_CONN_CODE 1017
#define IDC_CONN_GET 1018
#define IDC_CONN_JOIN 1019


IDD_CONFIG DIALOGEX 0, 0, 260, 310
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "snes-online Configuration"
FONT 9, "Segoe UI"
BEGIN
    CONTROL "Enable netplay", IDC_NETPLAY_ENABLED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 10, 120, 12

    CONTROL "Android-compatible lockstep", IDC_NETPLAY_LOCKSTEP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 140, 10, 120, 12

    LTEXT "Local UDP Port:", -1, 10, 28, 70, 10
    EDITTEXT IDC_LOCAL_PORT, 80, 26, 60, 14, ES_NUMBER | WS_TABSTOP

    LTEXT "ROMs folder:", -1, 10, 50, 60, 10
    EDITTEXT IDC_ROMS_DIR, 80, 48, 165, 14, ES_AUTOHSCROLL

    GROUPBOX "Direct Connect (STUN)", -1, 10, 72, 235, 130

    LTEXT "Mode:", -1, 18, 86, 30, 10
    CONTROL "Host (Player 1)", IDC_ROLE_HOST, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 55, 86, 85, 12
    CONTROL "Join (Player 2)", IDC_ROLE_JOIN, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 145, 86, 85, 12

    LTEXT "Remote IP:", -1, 18, 104, 50, 10
    EDITTEXT IDC_REMOTE_IP, 80, 102, 165, 14, ES_AUTOHSCROLL

    LTEXT "Remote Port:", -1, 18, 122, 55, 10
    EDITTEXT IDC_REMOTE_PORT, 80, 120, 60, 14, ES_NUMBER | WS_TABSTOP

    LTEXT "Connection code:", -1, 18, 142, 60, 10
    EDITTEXT IDC_CONN_CODE, 80, 140, 165, 28, ES_AUTOVSCROLL | ES_MULTILINE | WS_TABSTOP

    PUSHBUTTON "Get Connection Info", IDC_CONN_GET, 80, 172, 80, 14
    PUSHBUTTON "Join From Code", IDC_CONN_JOIN, 165, 172, 80, 14

    LTEXT "Netplay starts on game start. Host waits until a peer connects.", -1, 10, 206, 235, 18

    DEFPUSHBUTTON "OK", IDOK, 140, 290, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 195, 290, 50, 14
END
